.conteudo1
{
    border: 1px solid red;
    background: orange;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 0;
}

.conteudo2
{
    border: 1px solid red;
    background: green;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 5em;
    left: 5em;
    z-index: 1;
}

.conteudo3
{
    border: 1px solid red;
    background: rgb(0, 132, 255);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10em;
    left: 10em;
    z-index: 2;
}

.conteudo4
{
    border: 1px solid red;
    background: rgb(253, 8, 171);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15em;
    left: 15em;
    z-index: 3;
}