body
{
    background: rgb(207, 190, 193);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div
{
    border:  1px solid red;
    display: inline-block;
}



#principal
{
    width: 900px;
    /* border: 1px solid red */
}

.noticia
{
    background: gray;
    padding: 5px;
    margin: 5px;
    width: 270px;
    float: left;
}

.clear
{
    clear: both;
}

h2
{
    margin: 0;
}

.img-galeria
{
    
    background: rgb(207, 190, 193);
    padding: 5px;
    margin: 7px;
    width: 270px;
    float: left;
}