body
{
    background: #007fc7;
}

#container
{
    background: #fff;
    width: 900px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

p
{
    width: 300px;
}

.absolute
{
    background: #fff;
    border: 2px solid red;
    position: absolute;
    top: 1em;
    right: 1em;
}


.fixed
{
    margin: 0px;
    background: #fff;
    border: 2px solid rgb(0, 255, 42);
    position: fixed;
    top: 1em;
    left: 1em;
}