.img
{
    width: 10em;
}

body
{
    background-image: url('https://i.pinimg.com/originals/8f/2d/6c/8f2d6c21a6d012e3a059da279bf3e1c2.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}